GameOfLife.suo
TestResult.xml
GameOfLife/Code/bin
GameOfLife/Code/obj
GameOfLife/Code/Code.csproj.Debug.cachefile
GameOfLife/Content/bin
GameOfLife/Content/obj
GameOfLife/Scripts/bin
GameOfLife/Scripts/obj
GameOfLife/Tests/bin
GameOfLife/Tests/obj
GameOfLife/Tests/TestResult.xml
GameOfLife/Tests/Tests.csproj.VisualState.xml