<?xml version="1.0" encoding="utf-8" ?>
<XnaContent>
  <Asset Type="Scripts.Config">
    <TickInMilliseconds>100</TickInMilliseconds>
    <RunAtStart>false</RunAtStart>
    <World>
      <Rows>40</Rows>
      <Columns>40</Columns>
      <CellWidth>16</CellWidth>
      <CellHeight>16</CellHeight>
    </World>
    <Grid>
      <DrawAtStart>true</DrawAtStart>
      <Color>LightGray</Color>
    </Grid>
    <Commands>
      <ToggleCell>LeftButton</ToggleCell>
      <ToggleRunning>Space</ToggleRunning>
      <ToggleGrid>G</ToggleGrid>
      <SpeedUp>Up</SpeedUp>
      <SlowDown>Down</SlowDown>
      <Clear>C</Clear>
      <Quit>Escape</Quit>
    </Commands>
  </Asset>
</XnaContent>
