<?xml version="1.0" encoding="utf-8" ?>
<XnaContent>
  <Asset Type="Scripts.Config">
    <Rows>25</Rows>
    <Columns>25</Columns>
    <TickInMilliseconds>100</TickInMilliseconds>
    <RunAtStart>false</RunAtStart>
    <Commands>
      <ToggleCell>LeftButton</ToggleCell>
      <ToggleRunning>Space</ToggleRunning>
      <SpeedUp>Up</SpeedUp>
      <SlowDown>Down</SlowDown>
      <Quit>Escape</Quit>
    </Commands>
  </Asset>
</XnaContent>
